* {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

body{
    background: linear-gradient(45deg, #eb5874,#fd8086,#c0ceaa,#fd8086,#eb5874);
}

h1 {
    font-size: 2em;
    letter-spacing: 1px;
    border: solid 3px;
    border-radius: 25px;
    position: relative;
    text-align: center;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.texto{
    text-align: center;
    text-decoration: wavy;
}

h2, h3 {
    text-align: center;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.centrarImagen {
    padding: 15px;
    display: flex;
    justify-content: center;
}

img {
    width: 30em;
    padding: 4px;
    border-radius: 25px;
    box-shadow: 1px 3px;
}

p {
    font-style: oblique;
}

ul, table {
    font-style: oblique;
    font-weight: 400em;
}

